body{
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
}

main{
  height: 90%;
}

div#board{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 5px;
  width: 180px;
  height: 180px;
  align-items: center;
  justify-items: center;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 50px;
  height: 50px;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
  background-color: white;
}

body{
  overflow-y: auto;
  background-color: wheat;

}